<div class="container">
    <div class="d-flex align-content-start flex-wrap">
        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/imgs/card-h.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ihr Termin</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <button type="button" class="btn btn-info" id="printbutton" onclick="window.print();"><i class="fas fa-print"></i></button>
                </div>
            </div>
        </div>

        {{#each TIMESLOTS}}

        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/imgs/card-h.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.tag}}</h5>
                    {{#if this.info}}
                        <div class="alert alert-info" role="alert">
                            {{this.info}}
                        </div>
                    {{/if}}
                </div>

                {{#each this.timeslots}}
                    <li id="time-{{@../key}}-{{@key}}" class="time list-group-item">

                        <div class="d-flex justify-content-between">
                            <div><i class="fas fa-clock"></i> {{this}}</div>
                            <div id="{{@key}}_free">2/3 Frei</div>
                        </div>

                    </li>
                {{/each}}

            </div>
        </div>

        {{/each}}

    </div>
</div>