<div class="container text-center">
    <h1>{{TITLE}}</h1>
    <p class="lead">{{{SCHOOL_INFOTEXT}}}</p>
    <hr class="my-4">
    <p>Wenn Sie sich für eine Schulführung anmelden wollen, können Sie sich hier einloggen und einen Termin wählen:</p>

    Freie Termine: {{SLOTS_STATS.free}} von {{SLOTS_STATS.total}}

    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{SLOTS_STATS.free_percent}}%;" aria-valuenow="{{SLOTS_STATS.free_percent}}" aria-valuemin="0" aria-valuemax="100">{{SLOTS_STATS.free_percent}}% verfügbar</div>
    </div>

</div>