{{#if SCHOOL_NOTICE}}
<div class="container text-center">
    <div class="alert alert-primary" role="alert">
        <h2>Information</h2>
        {{{SCHOOL_NOTICE}}}
    </div>
</div>
{{/if}}

<div class="container text-center">
    {{#gt SLOTS_STATS.free_percent 40 }}
    Aktuell sind <span class="badge badge-primary">{{SLOTS_STATS.free}}</span> Termine frei
    {{else}}
    {{#gt SLOTS_STATS.free_percent 0 }}
    Es sind nur mehr <span class="badge badge-warning">{{SLOTS_STATS.free}}</span> Termine frei
    {{else}}
    Achtung: Es sind aktuell keine Termine mehr frei.
    {{/gt}}

    {{/gt}}
</div>

<div class="text-center" style="margin-top: 20px;">
    <div style="width:21.5em;" class="mx-auto card text-center">
        <h2>Login</h2>
        <h5>Bitte bestätigen Sie Ihre Email oder Telefonnummer</h5>
        <div id="firebaseui-auth-container"></div>
    </div>
</div>