<div class="container">
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title">Bitte verfolgständigen Sie Ihre Daten für die Anmeldung</h5>
            
            
            <form>

                {{#each this}}
                <div class="form-group">
                    <label for="input-{{@key}}">{{this.text}}</label>
                    <input type="text" class="form-control" id="input-{{@key}}" aria-describedby="{{@key}}Help" value="{{this.value}}">
                    <small id="{{@key}}Help" class="form-text text-muted">{{this.hint}}</small>
                </div>
                {{/each}}

                <button id="saveuserdata" class="btn btn-primary"><i class="fas fa-save"></i> Submit</button>
            </form>


        </div>
    </div>
</div>