<div class="container">
    <div class="d-flex align-content-start flex-wrap">
        
        <div class="p-2">
            <div class="card">
                <img class="card-img-top" src="{{PAGE_HEADER_CARD1}}">
                <div class="card-body">
                    <h5 class="card-title">Ihr Termin</h5>
                    <p class="card-text" id="userappointment"></p>
                    <button type="button" class="btn btn-info d-none" id="printbutton" onclick="window.print();"><i class="fas fa-print"></i></button>
                    <button class="btn btn-danger d-none" id="btn-delappointment"><i class="fas fa-trash-alt"></i> Termin löschen</button>
                </div>
            </div>
        </div>

        {{#each TIMESLOTS}}

        <div class="p-2 timeselect-card">
            <div class="card">
                <img class="card-img-top" src="{{@root.PAGE_HEADER_CARD2}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.tag}}</h5>
                    {{#if this.info}}
                        <div class="alert alert-info" role="alert">
                            {{this.info}}
                        </div>
                    {{/if}}
                </div>

                {{#each this.timeslots}}
                    <li day="{{@../key}}" timeslot="{{this}}" id="time-{{@../key}}-{{this}}" class="time list-group-item">

                        <div class="d-flex justify-content-between">
                            <div><i class="fas fa-clock"></i> {{this}}</div>
                            <div id="time-{{@../key}}-{{this}}-free"></div>
                        </div>

                    </li>
                {{/each}}

            </div>
        </div>

        {{/each}}

    </div>
</div>

<script>checkTimeslots();</script>